
--extra-index-url https://download.pytorch.org/whl/cpu

requests==2.32.3
python-dotenv==1.0.0
streamlit==1.44.1
streamlit-image-coordinates==0.4.0
opencv-python-headless==4.7.0.72
Pillow==9.5.0
numpy==1.26.4
matplotlib==3.7.1
pandas==2.1.1
pvlib==0.15.0
shapely==2.1.2
scipy==1.10.1

torch==2.11.0+cpu
torchvision==0.26.0+cpu
timm==1.0.26

git+https://github.com/ChaoningZhang/MobileSAM.git
